In [1]:
import numpy as np 
import pandas as pd

In [2]:
df_ = pd.read_csv('kidney_disease.csv')
df_.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
#find, whether dataset has null value or not
if (df_.isnull().sum().sum())>0:
    print("There is NULL value presence in dataset.")
else:
    print("There is NOT null value in dataset.")

There is NULL value presence in dataset.

In [4]:
#changes the dtypes
#first print the dtypes
for index_, dtypes_ in zip(df_.dtypes.index, df_.dtypes.values):
    print(index_, dtypes_, end = " | ")
print("\n")
#change the dtypes "pcv" and "wc"
list_ = ['pcv', 'wc','rc']
for column_ in list_:
    df_[column_] = pd.to_numeric(df_[column_], errors='coerce')
    print(column_, 'is done.'.title())
print("\n")
#print the data types again
for index_, dtypes_ in zip(df_.dtypes.index, df_.dtypes.values):
    print(index_, dtypes_, end = " | ")

id int64 | age float64 | bp float64 | sg float64 | al float64 | su float64 | rbc object | pc object | pcc object | ba object | bgr float64 | bu float64 | sc float64 | sod float64 | pot float64 | hemo float64 | pcv object | wc object | rc object | htn object | dm object | cad object | appet object | pe object | ane object | classification object |

pcv Is Done.
wc Is Done.
rc Is Done.


id int64 | age float64 | bp float64 | sg float64 | al float64 | su float64 | rbc object | pc object | pcc object | ba object | bgr float64 | bu float64 | sc float64 | sod float64 | pot float64 | hemo float64 | pcv float64 | wc float64 | rc float64 | htn object | dm object | cad object | appet object | pe object | ane object | classification object |

In [5]:
#find out which columns have null value and their quantity
nullDataset_ = df_.loc[:, df_.isnull().sum()>0]
#print the null dataset 
nullDataset_.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,15.4,44.0,7800.0,5.2,yes,yes,no,good,no,no
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,11.3,38.0,6000.0,NaN,no,no,no,good,no,no
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,9.6,31.0,7500.0,NaN,no,yes,no,poor,no,yes
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,11.2,32.0,6700.0,3.9,yes,no,no,poor,yes,yes
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,11.6,35.0,7300.0,4.6,no,no,no,good,no,no

In [6]:
#print the index and their quantity
for index_, values_ in zip(nullDataset_.isnull().sum().index, nullDataset_.isnull().sum().values):
    print(index_," ", values_, end = " | ")
print("\n")
#split the dataset with a condition, which have 100+ null value will be fill with "missing", others will be filled with most frequent values
for column_, values_ in zip(nullDataset_.isnull().sum().index, nullDataset_.isnull().sum().values):
    if column_ == 'pcv':
        df_.fillna(df_.loc[:, column_].mean(), inplace = True)
        print(column_, ' is filled with mean.\n')
    elif column_ == 'wc':
        df_.fillna(df_.loc[:, column_].mean(), inplace = True)
        print(column_, ' is filled with mean.\n')
    elif values_>=100:
        df_.loc[:, column_].fillna('missing',  inplace = True)
        print(column_,' is filled with missing.\n')
    else:
        df_.loc[:, column_].fillna(df_.loc[:, column_].value_counts().sort_values(ascending = False).index[0], inplace = True)
        print(column_,' is filled with most frequent approach.\n')
print("Done with null values.\n")
#check whether dataset has still null value or not
if (df_.isnull().sum().sum()) == 0:
    print("There is NO NULL value presence in dataset.")
else:
    print("There is still NULL Values presence in dataset.")

age   9 | bp   12 | sg   47 | al   46 | su   49 | rbc   152 | pc   65 | pcc   4 | ba   4 | bgr   44 | bu   19 | sc   17 | sod   87 | pot   88 | hemo   52 | pcv   71 | wc   106 | rc   131 | htn   2 | dm   2 | cad   2 | appet   1 | pe   1 | ane   1 |

age  is filled with most frequent approach.

bp  is filled with most frequent approach.

sg  is filled with most frequent approach.

al  is filled with most frequent approach.

su  is filled with most frequent approach.

rbc  is filled with missing.

pc  is filled with most frequent approach.

pcc  is filled with most frequent approach.

ba  is filled with most frequent approach.

bgr  is filled with most frequent approach.

bu  is filled with most frequent approach.

sc  is filled with most frequent approach.

sod  is filled with most frequent approach.

pot  is filled with most frequent approach.

hemo  is filled with most frequent approach.

pcv  is filled with mean.

wc  is filled with mean.

rc  is filled with missing.

htn  is filled with most frequent approach.

dm  is filled with most frequent approach.

cad  is filled with most frequent approach.

appet  is filled with most frequent approach.

pe  is filled with most frequent approach.

ane  is filled with most frequent approach.

Done with null values.

There is NO NULL value presence in dataset.

In [7]:
#convert the "classification" in a numeric form
for values_, counts_ in zip(df_.classification.value_counts().index, df_.classification.value_counts().values):
    print(values_, 'has ', counts_, 'unique values.')
index_ = df_[df_.classification == 'ckd\t'].index
for dropIndex_ in index_:
    df_.drop([dropIndex_], axis = 0, inplace = True)
    print("Dropped ", dropIndex_,'\n')
print("Done.")
if len(df_.classification.value_counts().index) == 2:
    print("It's binary class classsification problem.\n")
else:
    print("It's categorical cross entropy")
#Now, change this as numeric form
df_.loc[:, 'classification'] = df_.loc[:, 'classification'].map({'ckd': 1, 'notckd': 0})
#print the df_
df_.head(5)

ckd has  248 unique values.
notckd has  150 unique values.
ckd	 has  2 unique values.
Dropped  37

Dropped  230

Done.
It's binary class classsification problem.

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,missing,normal,notpresent,notpresent,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,1
1,1,7.0,50.0,1.020,4.0,0.0,missing,normal,notpresent,notpresent,...,38.0,6000.0,38.884498,no,no,no,good,no,no,1
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,38.884498,no,yes,no,poor,no,yes,1
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,1
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300.0,4.600000,no,no,no,good,no,no,1

In [8]:
#first convert 
objectColumns_ = df_.select_dtypes(include = 'object').columns
#print the columns name
for column_ in objectColumns_:
    print(column_, end = " | ")
print("\n")
#check the unique values
for column_ in objectColumns_:
    print(df_.loc[:, column_].nunique(), end = " | ")
print("\n")
#Now delete the "id" and "classification" columns and perform get dummies
target_ = df_.loc[:, 'classification']
delete_ = ['id', 'classification']
for delColumn_ in delete_:
    df_.drop([delColumn_], axis = 1, inplace = True)
    print(delColumn_, ' is deleted. ')
#now, use "get_dummies"
getDummies_ = pd.get_dummies(df_[objectColumns_], drop_first = True)
#now, we will have to delete the preious column, which were not in numeric
for dropped_ in objectColumns_:
    df_.drop([dropped_], axis = 1, inplace = True)
    print("Column ", dropped_, ' is dropped.')
#now store this in the main data frame
df_ = pd.concat([df_, getDummies_], axis = 1)
#print the df_
df_.head()

rbc | pc | pcc | ba | htn | dm | cad | appet | pe | ane |

3 | 2 | 2 | 2 | 3 | 6 | 4 | 3 | 3 | 3 |

id  is deleted.
classification  is deleted.
Column  rbc    is dropped.
Column  pc    is dropped.
Column  pcc    is dropped.
Column  ba    is dropped.
Column  htn    is dropped.
Column  dm    is dropped.
Column  cad    is dropped.
Column  appet    is dropped.
Column  pe    is dropped.
Column  ane    is dropped.

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,dm_yes,cad_\tno,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,135.0,5.0,...,1,0,1,0,1,0,1,0,1,0
1,7.0,50.0,1.020,4.0,0.0,99.0,18.0,0.8,135.0,5.0,...,0,0,1,0,1,0,1,0,1,0
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,135.0,5.0,...,1,0,1,0,0,1,1,0,0,1
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,2.5,...,0,0,1,0,0,1,0,1,0,1
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,135.0,5.0,...,0,0,1,0,1,0,1,0,1,0

0      1
1      1
2      1
3      1
4      1
      ..
395    0
396    0
397    0
398    0
399    0
Name: classification, Length: 398, dtype: int64